Package: com.0xkuj.backgrounderaction15autostate
Name: BackgrounderAction15AutoState
Description: Save Action state for BackgrounderAction15 CC Toggle
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Depends: jp.akusio.backgrounderaction13, com.opa334.altlist
Architecture: iphoneos-arm
Version: 1.0.3
Installed-Size: 384
